[Unit]
Description=Mumble Ruby Pluginbot
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=botmaster
ExecStart=/home/botmaster/src/mumble-ruby-pluginbot/scripts/manage.sh start
ExecStop=/home/botmaster/src/mumble-ruby-pluginbot/scripts/manage.sh stop

[Install]
WantedBy=multi-user.target
