[Unit]
Description=Mumble Ruby Pluginbot
After=network.target
 
[Service]
Type=forking
User=botmaster
ExecStart=/home/botmaster/src/mumble-ruby-pluginbot/scripts/start.sh &
 
[Install]
WantedBy=multi-user.target
